<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/propio.css">


<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->

 

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="{{ site.baseurl }}/public/logo.jpg">
  </div>

  <nav class="sidebar-nav" >
     
    <a class="dropdown-btn" href="{{site.baseurl}}/">Home </a>
    <button class=" dropdown-btn dropdown-btn">Entrega 1
      </button>
      <div class="dropdown-container">
          <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/miembros">Miembros </a>
          <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/proyecto">Proyecto</a>
          <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/alineacion">Alineacion con Politica</a>
          <a class="dropdown-btn sub" >Empresa</a>
          <ul>
            <a href="{{site.baseurl}}/pagina/universidad" class="dropdown-btn sub">Universidad</a>
            <a href="{{site.baseurl}}/pagina/dre" class="dropdown-btn sub">DRE</a>
          </ul>
          <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/preguntas">Preguntas</a>   
      </div>

      <button class=" dropdown-btn">Entrega 2
        </button>
        <div class="dropdown-container">

     <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/original">Arquitectura</a>
     <ul>
      <a href="{{site.baseurl}}/pagina/Arquitectura" class="sidebar-nav-subitem">Tecnologias</a>
    </ul>
    <a class="dropdown-btn  sub" href="{{site.baseurl}}/pagina/metodologia">Metodologia</a>
    <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/herramientas">Herramientas</a>
 </div>

 <button class=" dropdown-btn">Entrega 3
</button>
<div class="dropdown-container">
  <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/hu">Historias de Usuario</a>
  <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/Relacional">Modelo Relacional</a>
</div>
 <button class=" dropdown-btn">Aprendizaje Individuales
  </button>
    <div class="dropdown-container">
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/caricoe">caricoe</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/kvsierrab">kvsierrab</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/roasarmientoga">roasarmientoga</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/afromana">afromana</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/jsnarvaezb">jsnarvaezb</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/juddiazci">juddiazci</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/camosquerab">camosquerab</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/ggalvezb">ggalvezb</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/nfgavilans">nfgavilans</a>
        <a class="dropdown-btn sub" href="{{site.baseurl}}/pagina/personas/jdsuarezb">jdsuarezb</a> 
    </div>
   
  </nav>
</div>
<script type="text/javascript" src="{{site.baseurl}}/js/propio.js"></script>
